@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gutter: 1em;

    --MuseoModerno: 'MuseoModerno', cursive;
    --ligth: 300;
    --medium: 500;

    /* --first-color: #f5f5f5;
    --first-color-glass: #e0dede;
    --second-color: #6a197d; */

    --first-color: rgb(255, 255, 255);
    --first-color-glass: rgba(255, 255, 255, .5);
    --first-color-more-glass: rgba(255, 255, 255, .2);
    --second-color: #6a197d;
}

/* 
TODO: hacer pruebas antes de crear el commit, probar si los tonos de colores son los correctos, tambien verificar si lo del scroll funciona la linia completa  
*/

body {
    height: 500px;
    width: 350px;
}

.background {
    height: 100%;
    width: 100%;

    background-image: linear-gradient(111.1deg, rgba(0, 40, 70, 1) -4.8%, rgba(255, 115, 115, 1) 82.7%, rgba(255, 175, 123, 1) 97.2%);
}

.container {
    height: 100%;
    width: 100%;
    background: var(--first-color-glass);
    padding-top: 50px;
}

/* ? HEADER */
.header {
    width: 100%;
    height: 50px;
    font-family: var(--MuseoModerno);

    padding: 0 var(--gutter);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
}

.title {
    color: var(--first-color);
}

form{
    display: flex;
    align-items: center;
    width: auto;
}

[placeholder] {
    /* ? Input add marker */
    background: none;
    outline: none;
    /* ? Elimina los bordes del focus*/
    border: none;
    border-bottom: 2px solid var(--first-color-glass);

    width: 200px;
    padding: 0 5px;
    margin: 0 0 10px;
    /* ! se hiso al tanteo */

    color: var(--first-color);
    font-family: var(--MuseoModerno);
    font-weight: var(--ligth);
    font-size: 1rem;

    transition: transform .3s;
}

[placeholder]:focus {
    border-bottom-color: var(--first-color);
    transform: scale(1.1);
}

.btn-add{
    background: transparent;
    border: none;
    margin-left: var(--gutter);
    outline: none;
}

.icon-add,
.icon-delete {
    display: block;
    width: 1.5em;
    color: var(--first-color-glass);
    transition: transform .3s;
}

.icon-add:hover,
.icon-delete:hover {
    cursor: pointer;
    color: var(--first-color);
    transform: scale(1.3);
}

/* ? MARKERS */
.marker {
    display: flex;
    align-items: center;

    position: relative;

    transition: background;
    transition-duration: .7s;
}
.marker:hover {
    background-color: var(--second-color);
    cursor: pointer;
}
.info-container {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 var(--gutter);

    text-decoration: none;
}
.page-logo {
    height: 32px;
    width: 32px;
    margin-right: var(--gutter);
    filter: grayscale(100%);
}
.page-name {
    font-family: var(--MuseoModerno);
    font-size: 1.3rem;
    font-weight: var(--ligth);
    color: var(--first-color-glass);
}
/* 
? Estilos que sustituiran los no deseados
? que se le asignan a los icons
*/
.icon-delete {
    width: 1.2em;
    position: absolute;
    right: var(--gutter);
}